@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.main {
  display: flex;
  align-content: center;
  justify-content: center;
}

.card {
  margin: 7rem;
  width: 14%;
 
  
  padding: 1rem 1rem;
  border-radius: 1rem;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

}

.main-img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.header {
  text-align: center;
  font-size: 1.3rem;
}

.article {
  text-align: center;
  font-size: 1rem;
  color: hsl(220, 15%, 55%);
}

@media screen and (max-width: 900px) {
  .card {
    margin: 5rem;
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .card {
    margin: 3rem;
    width: 80%;
  }
}
  
